.main {
  --background-page: #fff;
  --primary: #ffa700;
  --secondary: #333138;
  --tertiary: #000;
  --text1: black;
  --text2: #333;
  --text3: #696969;
  --text4: white;
  --subtle: #fff700;
  --very-subtle: #f3f3f3;
  --input: #ccc;
  --shadow: #ddd;
}
.main.dark-theme {
  --background-page: #333138;
  --secondary: white;
  --tertiary: #333;
  --text1: #fff;
  --text2: #696969;
  --text3: #999999;
  --text4: #000;
  --very-subtle: #333;
  --input: #555;
  --shadow: #666;
}

* {
  box-sizing: border-box;
  transition: all 0.3s linear;
  position: relative;
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  background-color: var(--background-page);
  background-image: url("../img/bg.jpg");
  background-repeat: repeat-y;
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.background-page {
  background: var(--background-page);
}

img {
  height: auto;
}

html {
  font-size: 8px;
}

body {
  font-size: 1.4rem;
  line-height: 150%;
}

a, a:hover, button, button:focus, button:active {
  outline: none;
  text-decoration: none;
}

p {
  margin-top: 0;
  color: var(--text1);
}
@media (max-width: 767px) {
  p {
    font-size: 1.8rem !important;
    line-height: 150%;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 120%;
  text-align: center;
}

h1 {
  color: white;
  font-size: 4rem;
  margin: 0;
  line-height: 150%;
}

h2 {
  color: var(--primary);
  font-size: 3.7rem;
  margin: 0;
  text-transform: capitalize;
}

h3 {
  font-size: 3.6rem;
  margin: 0 0 20px;
}

h4 {
  font-weight: bold;
  font-size: 1.8rem;
  margin: 0 0 10px;
}

h5 {
  color: var(--text3);
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin: 0 0 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

h6 {
  color: var(--text3);
  font-size: 1.5rem;
  margin: 0 0 0.4rem;
  font-weight: 400;
}

.button {
  padding: 1rem 1.5rem;
  display: inline-block;
  text-align: center;
  color: var(--text4);
  letter-spacing: 0.5px;
  line-height: 120%;
  border: 0;
  box-shadow: none;
  font-size: 1.4rem;
  cursor: pointer;
}

.secondary-bg {
  background: var(--secondary);
}

.text1-bg {
  background: var(--text1);
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

input:not([type=radio]), textarea, label {
  display: block;
  width: 100%;
  margin: 0 0 10px;
  font-family: "montserrat", sans-serif;
  font-size: 1.4rem;
  color: var(--secondary);
}

input:not([type=radio]), textarea {
  border: 1px solid var(--input);
  padding: 10px;
  appearance: none;
  -webkit-appearance: none;
  background: var(--text4);
}
input:not([type=radio]):focus, textarea:focus {
  border-color: var(--secondary);
  outline: none;
}

input[type=radio] {
  margin: 0 5px 0 0;
}

label {
  margin-bottom: 7px;
}

header {
  padding: 2rem;
}
header .logo {
  width: 200px;
  height: auto;
  margin: 0 5%;
}
header p {
  color: var(--text1);
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin: 0;
}
header .button svg {
  width: 20px;
  height: 20px;
  fill: var(--text4);
}
header .button svg * {
  fill: var(--text4);
}
header .button:hover {
  background: var(--primary);
}

menu {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: var(--primary);
  padding: 0;
  max-height: 6rem;
  width: calc(100% - 10rem);
  margin: 0 auto -6rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 2;
}
menu a {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 6rem;
  text-align: center;
}
menu a.active, menu a:hover {
  color: black;
}
menu a.active {
  display: flex;
  pointer-events: none;
}
@media (max-width: 767px) {
  menu a:not(.active) {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
  }
  menu:hover {
    width: 100%;
    max-height: 100vh;
  }
  menu:hover a {
    opacity: 1;
    visibility: visible;
    max-height: 100px;
  }
}
menu:before, menu:after {
  content: "";
  position: absolute;
  top: 0;
  border-top: 6rem solid var(--primary);
}
menu:before {
  left: -5rem;
  border-left: 5rem solid transparent;
}
menu:after {
  right: -5rem;
  border-right: 5rem solid transparent;
}

footer {
  background: var(--very-subtle);
}
footer .footer-container {
  max-width: 940px;
  margin: 0 auto;
}
footer .footer-container .logo-box {
  background: var(--background-page);
  width: 350px;
  padding: 3rem;
  box-shadow: -10px 10px 20px var(--shadow);
  border-top: 5px solid var(--primary);
  transform: translateY(-50px);
  margin: auto;
}
footer .footer-container .logo-box:before {
  content: "";
  border-bottom: 50px solid var(--subtle);
  border-left: 30px solid transparent;
  position: absolute;
  top: -5px;
  left: -30px;
}
footer .footer-container .logo-box > img {
  margin-bottom: 3rem;
}
footer .footer-container .logo-box p {
  color: var(--text3);
  margin-bottom: 1.5rem;
}
footer .footer-container .logo-box p:last-of-type {
  margin-bottom: 0;
}
footer .footer-container .logo-box p img {
  margin-right: 10px;
}
footer .footer-container .about-box, footer .footer-container .findus-box {
  padding: 0 3rem;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
footer .footer-container .about-box h4, footer .footer-container .findus-box h4 {
  color: var(--text1);
}
footer .footer-container .about-box p {
  color: var(--text3);
  line-height: 180%;
  font-size: 1.5rem !important;
}
footer .footer-container .findus-box a {
  margin: 0 5px 3rem 0;
  background: black;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 0;
  padding: 7px 0;
  vertical-align: top;
}
footer .footer-container .findus-box a:hover {
  background: var(--primary);
}
footer .footer-container .findus-box p {
  text-transform: uppercase;
  color: var(--primary);
  font-weight: bold;
}
footer .copy-right {
  background: var(--primary);
  padding: 20px;
}
footer .copy-right p {
  color: var(--text4);
  margin: 0;
  font-size: 1.3rem !important;
}

.stripe-left, .stripe-right {
  position: absolute;
  bottom: 0;
  background: var(--background-page);
  height: 55px;
  width: 20%;
  max-width: 220px;
}
.stripe-left:before, .stripe-right:before {
  content: "";
  position: absolute;
  border-bottom: 55px solid var(--background-page);
}

.stripe-left {
  left: 0;
}
.stripe-left:before {
  right: -55px;
  border-right: 55px solid transparent;
}

.stripe-right {
  right: 0;
}
.stripe-right:before {
  left: -55px;
  border-left: 55px solid transparent;
}

main, .main-inner {
  height: calc(100vh - 110px);
  padding: 0 3rem;
}
main:before, .main-inner:before {
  content: "";
  background: color-mix(in srgb, var(--primary) 55%, darkred 100%);
  opacity: 0.85;
  position: absolute;
  inset: 0;
  z-index: 0;
}
main h1, .main-inner h1 {
  z-index: 1;
}

.main-inner {
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main-inner:before {
  background: black;
  opacity: 0.5;
}
.main-inner.about {
  background-image: url("../img/about/about-banner.jpg");
}
.main-inner.residential-service {
  background-image: url("../img/residential/residential-banner.jpg");
}
.main-inner.commercial-service {
  background-image: url("../img/commercial/commercial-banner.jpg");
}
.main-inner.projectsInner {
  background-image: url("../img/projects/projects-banner.jpg");
}
.main-inner.contact {
  background-image: url("../img/contact/contact-banner.jpg");
}

.about-team, .residential, .commercial {
  background: var(--background-page);
}
.about-team .about-team-wrapper, .about-team .residential-wrapper, .about-team .commercial-wrapper, .residential .about-team-wrapper, .residential .residential-wrapper, .residential .commercial-wrapper, .commercial .about-team-wrapper, .commercial .residential-wrapper, .commercial .commercial-wrapper {
  flex-direction: column;
  margin: auto;
  padding: 10rem 3rem;
}
.about-team .about-team-wrapper img, .about-team .residential-wrapper img, .about-team .commercial-wrapper img, .residential .about-team-wrapper img, .residential .residential-wrapper img, .residential .commercial-wrapper img, .commercial .about-team-wrapper img, .commercial .residential-wrapper img, .commercial .commercial-wrapper img {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}
.about-team .about-team-wrapper h2, .about-team .residential-wrapper h2, .about-team .commercial-wrapper h2, .residential .about-team-wrapper h2, .residential .residential-wrapper h2, .residential .commercial-wrapper h2, .commercial .about-team-wrapper h2, .commercial .residential-wrapper h2, .commercial .commercial-wrapper h2 {
  margin-bottom: 4rem;
}
.about-team .about-team-wrapper p:last-of-type, .residential .about-team-wrapper p:last-of-type, .commercial .about-team-wrapper p:last-of-type {
  margin-bottom: 0;
}
.about-team .commercial-wrapper img, .residential .commercial-wrapper img, .commercial .commercial-wrapper img {
  box-shadow: 15px 15px 0 0 var(--subtle);
  max-width: 400px;
}

.about-meet-team {
  background: var(--primary);
  padding: 10rem 3rem 5rem;
}
.about-meet-team h2 {
  color: var(--text4);
  margin-bottom: 5rem;
}
.about-meet-team .about-meet-team-wrapper {
  max-width: 1100px;
  margin: auto;
  flex-wrap: wrap;
}
.about-meet-team .about-meet-team-wrapper div {
  display: inline-block;
  padding: 0 3rem 3rem;
}
.about-meet-team .about-meet-team-wrapper div img {
  margin-bottom: 10px;
}
.about-meet-team .about-meet-team-wrapper div p {
  margin-bottom: 0;
  color: var(--text4);
}

.residential-capabilities, .commercial-capabilities {
  padding: 9rem 3rem;
  background: var(--primary);
}
.residential-capabilities h2, .residential-capabilities div p, .residential-capabilities div ul li, .commercial-capabilities h2, .commercial-capabilities div p, .commercial-capabilities div ul li {
  color: var(--text4);
}
.residential-capabilities h2, .commercial-capabilities h2 {
  margin-bottom: 4rem;
}
.residential-capabilities div, .commercial-capabilities div {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 370px;
  padding: 35px 35px 0;
}
.residential-capabilities div img, .commercial-capabilities div img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 20px;
  transform: scale(1);
  filter: grayscale(1);
}
.residential-capabilities div img:hover, .commercial-capabilities div img:hover {
  border-radius: 0;
  transform: scale(1.1);
  filter: none;
}
.residential-capabilities div h5, .commercial-capabilities div h5 {
  color: var(--text4);
  margin-bottom: 3rem;
  line-height: 150%;
}
.residential-capabilities div p strong, .commercial-capabilities div p strong {
  font-size: 2.2rem;
}
.residential-capabilities div ul, .commercial-capabilities div ul {
  list-style: square;
  margin: 0 0 4rem 20px;
  padding: 0;
}
.residential-capabilities div ul li, .commercial-capabilities div ul li {
  font-size: 1.8rem;
  margin: 0 0 10px;
  padding: 0 0 0 5px;
  line-height: 150%;
}
.residential-capabilities div .button, .commercial-capabilities div .button {
  margin-top: 3rem;
}
.residential-capabilities div .button:hover, .commercial-capabilities div .button:hover {
  background: var(--text4);
  color: var(--text1);
}
.residential-capabilities div:last-of-type, .commercial-capabilities div:last-of-type {
  border-top: 1px solid var(--text4);
  margin-top: 10px;
}

.services {
  padding: 10rem 3rem;
}
.services .services-wrapper {
  flex-wrap: wrap;
}
.services .services-wrapper div {
  padding: 7.5rem 3rem 0;
  width: 100%;
}
.services .services-wrapper div p {
  color: var(--text1);
  margin: 3rem 0 0;
  font-size: 1.5rem;
  text-align: center;
}

.services-image {
  background: url("../img/home/service.jpg") no-repeat center;
  background-size: cover;
  padding: 6rem 3rem;
  flex-wrap: wrap;
}
.services-image div {
  padding: 3rem 5rem;
  width: 100%;
}
.services-image div h3, .services-image div p {
  color: white;
}
.services-image div .button {
  background: var(--primary);
}
.services-image div .button:hover {
  background: var(--secondary);
}

.projects-wrapper {
  background: var(--primary);
  padding: 10rem 0 0;
}
.projects-wrapper h2 {
  color: var(--text4);
  margin-bottom: 6rem;
}
.projects-wrapper h5 {
  color: var(--subtle);
}
.projects-wrapper .projects {
  background: var(--background-page);
  flex-direction: column;
}
.projects-wrapper .projects .project {
  width: 100%;
  background: var(--very-subtle);
}
.projects-wrapper .projects .project:not(:first-of-type) {
  border-left: 1px solid var(--subtle);
}
.projects-wrapper .projects .project img {
  width: 100%;
  display: inline-block;
  margin: 0 0 2.5rem;
  filter: grayscale(100%);
}
.projects-wrapper .projects .project h6, .projects-wrapper .projects .project p, .projects-wrapper .projects .project small {
  padding-left: 3rem;
}
.projects-wrapper .projects .project p {
  font-size: 1.8rem;
  margin-bottom: 13px;
  color: var(--text1);
}
.projects-wrapper .projects .project small {
  display: inline-block;
  color: var(--text3);
  margin-bottom: 2.5rem;
  font-size: 1.3rem;
}
.projects-wrapper .projects .project:hover img {
  filter: grayscale(0);
}

.projectsInner-wrapper {
  padding: 9rem 3rem 6rem;
  background: var(--background-page);
  flex-wrap: wrap;
}
.projectsInner-wrapper .projectsInner-project {
  width: 100%;
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--subtle);
}
.projectsInner-wrapper .projectsInner-project:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}
.projectsInner-wrapper .projectsInner-project img, .projectsInner-wrapper .projectsInner-project div {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 500px;
}
.projectsInner-wrapper .projectsInner-project img {
  margin-bottom: 3rem;
}
.projectsInner-wrapper .projectsInner-project div {
  padding: 0 3rem 1rem;
}
.projectsInner-wrapper .projectsInner-project div h6 {
  text-align: left;
  font-size: 2.4rem;
  line-height: 170%;
  font-weight: bold;
  color: var(--text2);
  border-bottom: 5px solid var(--primary);
  margin: 0 0 2.5rem;
}
.projectsInner-wrapper .projectsInner-project div p {
  font-size: 1.6rem;
}
.projectsInner-wrapper .projectsInner-project div p strong {
  display: block;
  line-height: 200%;
}

.contacts {
  padding: 10rem 30px;
  background: color-mix(in srgb, var(--background-page) 100%, transparent 10%);
  border-top: 10px solid var(--primary);
}
.contacts h2 {
  margin-bottom: 6rem;
}
.contacts .contacts-wrapper {
  max-width: 940px;
  margin: 0 auto 10rem;
}
.contacts .contacts-wrapper form, .contacts .contacts-wrapper .success {
  max-height: 100vh;
  opacity: 1;
  overflow: hidden;
}
.contacts .contacts-wrapper form.hide, .contacts .contacts-wrapper .success.hide {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  cursor: wait;
}
.contacts .contacts-wrapper form p {
  margin-bottom: 5px;
}
.contacts .contacts-wrapper form textarea {
  margin-bottom: 24px;
}
.contacts .contacts-wrapper form .button {
  width: 200px;
  line-height: 150%;
}
.contacts .contacts-wrapper form .button:hover {
  background: var(--primary);
}
.contacts .contacts-wrapper form.hide {
  transition-delay: 2s;
}
.contacts .contacts-wrapper form.hide .button {
  opacity: 0.5;
  cursor: wait;
}
.contacts .contacts-wrapper .success {
  background: var(--background-page);
  padding: 9rem 3rem;
  text-align: center;
  transition-delay: 2s;
}
.contacts .contacts-wrapper .success h3, .contacts .contacts-wrapper .success h4 {
  margin-bottom: 0;
  color: var(--text1);
}
.contacts .contacts-wrapper .success h2 {
  color: var(--primary);
  margin: 4rem 0;
}
.contacts .contacts-wrapper .success * {
  opacity: 1;
  transition-delay: 0.5s;
}
.contacts .contacts-wrapper .success.hide {
  padding: 0 3rem;
  transition-delay: 0;
}
.contacts .contacts-wrapper .success.hide * {
  opacity: 0;
}

.map {
  width: 100%;
  height: 400px;
  display: block;
  border: 0;
  border-top: 30px solid var(--background-page);
}

@media (min-width: 768px) {
  html {
    font-size: 10px;
  }

  body {
    background-image: none;
    animation: body 1s linear forwards;
    animation-delay: 0.5s;
  }
  @keyframes body {
    from {
      background-image: none;
    }
    to {
      background-image: url("../img/bg.jpg");
    }
  }

  header {
    padding: 3rem;
  }
  header .logo {
    width: 306px;
    margin: 0 9%;
  }

  menu {
    max-height: none;
    height: 8rem;
    margin-bottom: -8rem;
    width: 70%;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    animation: menuslide 0.3s linear forwards;
  }
  @keyframes menuslide {
    from {
      width: 0;
    }
    to {
      width: 70%;
    }
  }
  menu:before, menu:after {
    border-top-width: 8rem;
  }
  menu:before {
    left: -7.2rem;
    border-left-width: 7.2rem;
  }
  menu:after {
    right: -7.2rem;
    border-right-width: 7.2rem;
  }
  menu a {
    line-height: 120%;
    display: flex;
    margin: 0 15px;
    opacity: 0;
    animation: opacity 0.5s linear forwards;
    animation-delay: 1s;
  }
  menu a.active {
    display: flex;
  }

  main {
    width: 0;
    height: 8rem;
    margin: 0 auto;
    animation: slide 1s ease-in forwards;
  }
  main h1 {
    opacity: 0;
    animation: opacity 1s linear forwards;
    animation-delay: 1s;
  }
  @keyframes slide {
    0% {
      height: 8rem;
      width: 0;
    }
    25% {
      height: 8rem;
      width: 50%;
    }
    50% {
      height: 8rem;
      width: 100%;
    }
    100% {
      height: calc(100vh - 200px);
      width: 100%;
    }
  }

  @keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .about-team .about-team-wrapper, .residential .residential-wrapper, .commercial .commercial-wrapper {
    flex-direction: row;
    align-items: flex-start;
    max-width: 1200px;
  }
  .about-team .about-team-wrapper img, .residential .residential-wrapper img, .commercial .commercial-wrapper img {
    margin-bottom: 0;
    width: 40%;
  }
  .about-team .about-team-wrapper div, .residential .residential-wrapper div, .commercial .commercial-wrapper div {
    padding-left: 3rem;
    width: 60%;
  }

  .about-meet-team div {
    padding: 0 4rem 4rem;
  }

  .residential .residential-wrapper div, .commercial-wrapper div {
    padding-left: 0;
    padding-right: 3rem;
  }

  .residential-capabilities div:last-of-type, .commercial-capabilities div:last-of-type {
    border-top: none;
    margin-top: 0;
    text-align: left;
  }
  .residential-capabilities div:last-of-type h5, .commercial-capabilities div:last-of-type h5 {
    text-align: left;
  }

  .services .services-wrapper div {
    width: 33%;
    max-width: 400px;
  }

  .services-image div {
    width: 40%;
    padding: 0 2rem;
    margin: 0;
  }

  .projects-wrapper .projects {
    flex-direction: row;
  }
  .projects-wrapper .projects .project {
    width: 25%;
  }

  .contacts .contacts-wrapper form {
    display: flex;
    justify-content: space-between;
  }
  .contacts .contacts-wrapper form div {
    width: calc(50% - 15px);
  }

  footer .footer-container {
    display: flex;
  }
  footer .footer-container .logo-box {
    margin: 0;
  }
  footer .footer-container .about-box, footer .footer-container .findus-box {
    padding-top: 5rem;
    display: block;
  }
  footer .footer-container .about-box {
    width: auto;
    flex-grow: 1;
  }
  footer .footer-container .findus-box {
    width: 20%;
    flex-shrink: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */